page-settingdetailprogramsync {
  .myCustomSelect{
    max-width: 100% !important;
  }
  .test{
    position: right;
    max-width: 100% !important ;
  }
  .button.customBtn{
    width: 40px;
    height: 25px;
}
}
