page-register {
  .mFont{
    font-size:14px;
  }
  .atext{
    color: red;
    text-align: center;
    padding: 20px;
  }
  ion-card{
    height: 90%;
   vertical-align: middle;
   margin:auto;
   padding: 30% 0;
  }
ion-row{
  height: 50%;
}
// button{
//   width: 50%;
// }
}
