page-mncalf {

  .logo3{

    background-color: transparent ;
    background-image: url('../assets/menu/2.png');
    background-size: 100%;
    background-position: center;
    width: 200px;
    height: 200px;
    background-repeat: no-repeat;
    margin: auto auto;

  }
  ion-item{
    border-radius: 20px;
  }

  .btncustom{
    border-radius: 30%
  }
  ion-row{

  }
  ion-col{
    align-self: center;

  }
}
