page-selectmaintain {
  .myCustomSelect{
    max-width: 100% !important;
  }


}
ion-searchbar{
  .searchbar-input-container{
      .searchbar-input{
          border-radius: 20px;
          max-height: 40px;
          margin: auto;
      }
  }
}
