<!--
  Generated template for the ShowdtbreedPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="dark-blue">
    <ion-title>ข้อมูลการผสมพันธุ์</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
    <form (ngSubmit)="breed(breed_cattle)" #breed_cattle="ngForm" >
      <ion-item>
        <ion-label >ชื่อแม่พันธุ์: </ion-label>
        <ion-input type="text" name="dam_id" ngModel={{data.dam_id}} [disabled]="true"></ion-input>
      </ion-item>
      <ion-item [hidden]="data.sire_id==null">
        <ion-label >ชื่อพ่อพันธุ์: </ion-label>
        <ion-select type="text" name="sire_id" ngModel="{{data.sire_id}}" placeholder="เลือกพ่อพันธุ์" [disabled]="true">
            <ion-option *ngFor="let sid of sire_id" value="{{sid.sire_id}}">{{sid.sire_id}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item [hidden]="data.semen==null">
          <ion-label >น้ำเชื้อ: </ion-label>
          <ion-input type="text" name="semen" placeholder="กรอกน้ำเชื้อพ่อพันธุ์" ngModel="{{data.semen}}" [disabled]="true"></ion-input>
        </ion-item>

      <ion-item>
        <ion-label >ครั้งที่ผสม: </ion-label>
        <ion-input type="text" name="number_of_breeding" ngModel="{{data.number_of_breeding}}" [disabled]="true"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>วันที่ผสมพันธุ์: </ion-label>
        <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DD MMMM YYYY" cancelText="ยกเลิก" doneText="ยืนยัน"  ngModel="{{data.date_breeding}}" name="date_breeding" [disabled]="edit"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>เวลาที่ผสมพันธุ์: </ion-label>
        <ion-datetime displayFormat="HH:mm" pickerFormat="HH mm" cancelText="ยกเลิก" doneText="ยืนยัน"   ngModel="{{data.time_breeding}}" name="time_breeding" [disabled]="edit"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label >ผู้ปฏิบัติการ: </ion-label>
        <ion-select type="text" name="operator" ngModel="{{data.operator}}" [disabled]="edit">
          <ion-option *ngFor="let op of operator" value="{{op.operator}}">{{op.operator}}</ion-option>
        </ion-select>
    </ion-item>
      <ion-item>
        <ion-label >ผู้บันทึก: </ion-label>
        <ion-input type="text" name="recoder" ngModel="{{data.recoder}}" [disabled]="true"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label >ผสมติด แจ้งเตือนตรวจท้อง(วัน): </ion-label>
      <ion-input type="text" name="noti_pregnant" ngModel="{{data.noti_pregnant}}" readonly="{{bmark}}" [disabled]="edit"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label>กำหนดเอง</ion-label>
        <ion-checkbox ngModel="bmark" name="markbel" (click)="markb(bmark)" [disabled]="edit"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>ผสมไม่ติด แจ้งเตือนวันกลับสัด(วัน): </ion-label>
      <ion-input type="text" name="noti_oestrus" ngModel="{{data.noti_oestrus}}" readonly="{{EPmark}}" [disabled]="edit"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label>กำหนดเอง</ion-label>
      <ion-checkbox ngModel="EPmark" name="mEP" (click)="markep(EPmark)" [disabled]="edit"></ion-checkbox>
    </ion-item>
      <ion-item>
        <ion-label>หมายเหตุ: </ion-label>
        <ion-input type="text" name="note" ngModel="{{data.note}}" [disabled]="edit"></ion-input>
      </ion-item>

      <p align="center" [hidden]="!edit || privilege!='เจ้าของฟาร์ม'">
        <button type="button" ion-button color="secondary" round (click)="check(false)"><ion-icon name="md-create" ></ion-icon>&nbsp;แก้ไข</button>
    </p>
      <p align="center" [hidden]="edit">

        <button type="button" ion-button color="danger" round (click)="check(true)"><ion-icon name="md-close-circle"></ion-icon>&nbsp;ยกเลิก</button>
        <button type="submit" ion-button color="facebook" round><i class="fa fa-floppy-o"></i>&nbsp;บันทึก</button>
      </p>

    </form>


  </ion-content>
