<!--
  Generated template for the ShowdtbreedPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="dark-blue">
    <ion-title>ข้อมูลการผสมพันธุ์</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
    <form (ngSubmit)="breed(breed_cattle)" #breed_cattle="ngForm" >
      <ion-item>
        <ion-label >ชื่อแม่พันธุ์: </ion-label>
        <ion-input type="text" name="dam_id" ngModel={{data.dam_id}} readonly></ion-input>
      </ion-item>
      <ion-item>
        <ion-label >ชื่อพ่อพันธุ์: </ion-label>
        <ion-select type="text" name="sire_id" ngModel="{{data.sire_id}}" placeholder="เลือกพ่อพันธุ์">
            <ion-option *ngFor="let sid of sire_id" value="{{sid.sire_id}}">{{sid.sire_id}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label >ครั้งที่ผสม: </ion-label>
        <ion-input type="text" name="number_of_breeding" ngModel="{{data.number_of_breeding}}" readonly></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>วันที่ผสมพันธุ์: </ion-label>
        <ion-input type="date" name="date_breeding" ngModel="{{data.date_breeding}}" readonly></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>เวลาที่ผสมพันธุ์: </ion-label>
        <ion-input type="time" name="time_breeding" ngModel="{{data.time_breeding}}" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label >ผู้ปฏิบัติการ: </ion-label>
        <ion-select type="text" name="operator" ngModel="{{data.operator}}" >
          <ion-option *ngFor="let op of operator" value="{{op.operator}}">{{op.operator}}</ion-option>
        </ion-select>
    </ion-item>
      <ion-item>
        <ion-label >ผู้บันทึก: </ion-label>
        <ion-input type="text" name="recoder" ngModel="{{data.recoder}}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label >ผสมติด แจ้งเตือนตรวจท้อง(วัน): </ion-label>
      <ion-input type="text" name="noti_pregnant" ngModel="{{data.noti_pregnant}}" readonly="{{bmark}}"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label>กำหนดเอง</ion-label>
        <ion-checkbox ngModel="bmark" name="markbel" (click)="markb(bmark)"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>ผสมไม่ติด แจ้งเตือนวันกลับสัด(วัน): </ion-label>
      <ion-input type="text" name="noti_oestrus" ngModel="{{data.noti_oestrus}}" readonly="{{EPmark}}"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label>กำหนดเอง</ion-label>
      <ion-checkbox ngModel="EPmark" name="mEP" (click)="markep(EPmark)"></ion-checkbox>
    </ion-item>
      <ion-item>
        <ion-label>หมายเหตุ: </ion-label>
        <ion-input type="text" name="note" ngModel></ion-input>
      </ion-item>

      <br>
      <button type="submit" ion-button block color="facebook">ยืนยัน</button>

    </form>


  </ion-content>
