<ion-header>

  <ion-navbar color="dark-blue">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>บันทึกใบพันธุ์ประวัติโค </ion-title>

  </ion-navbar>

</ion-header>

<ion-content padding class="background" >


  <ion-segment [(ngModel)]="mncattle">
    <ion-segment-button value="addcow">
      <b>เพิ่มข้อมูลโคนอกฟาร์ม</b>
    </ion-segment-button>
    <ion-segment-button value="editcow">
      <b>แก้ไขข้อมูลโค</b>
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="mncattle">
    <form (ngSubmit)="addc(add_cattle)" #add_cattle="ngForm">
      <ion-list *ngSwitchCase="'addcow'">
        <ion-card class="list1">
          <ion-input type="hidden" name="status" ngModel></ion-input>
          <ion-input type="hidden" name="number_of_breeding" ngModel="0"></ion-input>
          <ion-item>
            <ion-label>ชื่อโค: </ion-label>
            <ion-input type="text" name="cattle_id" ngModel></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>สายพันธุ์: </ion-label>
            <ion-select name="breed" placeholder="เลือกสายพันธุ์โค" ngModel interface="popover">
              <ion-option *ngFor="let s of strian" value="{{s.strian}}">{{s.strian}}</ion-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label>วัน/เดือน/ปี เกิด: </ion-label>
            <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DD MMMM YYYY" cancelText="ยกเลิก" doneText="ยืนยัน"  ngModel="{{test}}" name="birth_date"></ion-datetime>
          </ion-item>
          <ion-item>
            <ion-label>น้ำหนักแรกเกิด(กก.): </ion-label>
            <ion-input type="number" name="birth_weight" ngModel></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>เพศ: </ion-label>
            <ion-select name="sex" placeholder="เลือกเพศโค" ngModel interface="popover">
              <ion-option value="BULL">เพศผู้</ion-option>
              <ion-option value="MISS">เพศเมีย</ion-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label>สีโค: </ion-label>
            <ion-select name="color" placeholder="เลือกสีโค" ngModel interface="popover">
              <ion-option *ngFor="let cl of color" value="{{cl.color}}">{{cl.color}}</ion-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label>ฝูงโค: </ion-label>
            <ion-select name="herd_no" placeholder="เลือกฝูงโค" ngModel interface="popover">
              <ion-option value="{{hn.herd_num}}" *ngFor="let hn of herd_num">{{hn.herd_num}}</ion-option>

            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label>คอกโค: </ion-label>
            <ion-select name="corral" placeholder="เลือกคอก" ngModel interface="popover">
              <ion-option *ngFor="let c of corral" value="{{c.corral}}">{{c.corral}}</ion-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label>วิธีการผสมพันธุ์: </ion-label>
            <ion-select name="breed_method" placeholder="เลือกวิธีการผสมพันธุ์" ngModel interface="popover">
              <ion-option value="NT">ผสมธรรมขาติ</ion-option>
              <ion-option value="AI">ผสมเทียม</ion-option>
              <ion-option value="ET">การย้ายฝากตัวอ่อน</ion-option>
              <ion-option value="IVF">การปฏิสนธิในหลอดทดลอง</ion-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label>รอบอกแรกเกิด(ซม.): </ion-label>
            <ion-input type="number" name="birth_chest_head_ratio" ngModel></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>วัน/เดือน/ปี หย่านม: </ion-label>
            <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DD MMMM YYYY" cancelText="ยกเลิก" doneText="ยืนยัน"  ngModel="{{test}}" name="wean_date"></ion-datetime>
          </ion-item>
          <ion-item>
            <ion-label>น้ำหนักหย่านม(กก.): </ion-label>
            <ion-input type="number" name="waen_weight" ngModel></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>รอบอกหลังหย่านม(ซม.): </ion-label>
            <ion-input type="number" name="wean_chest_head_ratio" ngModel></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>น้ำหนัก 1 ปี(กก.): </ion-label>
            <ion-input type="number" name="year_weight" ngModel></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>ความสูงสะโพก 1 ปี(ซม.): </ion-label>
            <ion-input type="number" name="year_hip_hight" ngModel></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>รหัสพ่อ: </ion-label>
            <ion-input type="text" name="sire_id" ngModel></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>รหัสแม่: </ion-label>
            <ion-input type="text" name="dam_id" ngModel></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>ผู้ผสมพันธุ์: </ion-label>
            <ion-input type="text" name="breeder" ngModel></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>เจ้าของโค: </ion-label>
            <ion-input type="text" name="owner" ngModel="{{owner}}" readonly></ion-input>
          </ion-item>
        </ion-card>
        <p align="center"><button class="button1" type="submit" round color="facebook"><b>ยืนยัน</b></button></p>
      </ion-list>
    </form>
  </div>

  <div [ngSwitch]="mncattle">
    <ion-list *ngSwitchCase="'editcow'">
        <ion-item-divider>
      <ion-searchbar  (ionInput)="getItems($event)" placeholder="ค้นหา{{search_type}}" ></ion-searchbar>
        <button ion-button item-end color="primary" (click)="filterType()"> <ion-icon name="md-funnel"></ion-icon>
        </button>
      </ion-item-divider>
      <ion-row>
        <ion-col col-6>
          <ion-item class="border-item">
            <ion-label>ประเภท:</ion-label>
            <ion-select okText="ยืนยัน" cancelText="ยกเลิก" class="myCustomSelect" [(ngModel)]="sub_head" name="corralcattle" (ionChange)="selectsex($event)" interface="popover">
                <ion-option value="0">เพศ</ion-option>
                <ion-option value="1">สายพันธุ์โค</ion-option>
                <ion-option value="2">สีโค</ion-option>
                <ion-option value="3" [disabled]="search_type=='ลูกโค'">คอกโค</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col col-6>
          <ion-item class="border-item">
            <ion-label>เลือก:</ion-label>
            <ion-select okText="ยืนยัน" cancelText="ยกเลิก" class="myCustomSelect" [(ngModel)]="select_sub_type" name="sexcattle" (ionChange)="selectType($event)" interface="popover">
                <ion-option value="ทั้งหมด">ทั้งหมด</ion-option>
                <ion-option *ngFor="let s of sub_type" value="{{s}}">{{s}}</ion-option>

            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-list>
        <ion-label color="danger">เลือกหมายเลขโค</ion-label>
        <ion-item  *ngFor="let dam of damList" >
          <ion-label>หมายเลขโค: {{dam.cattle_id}}</ion-label>
          <button class="button11" type="button" ion-button round outline color="primary" item-end (click)="showHistory(dam.cattle_id)" [hidden]="dam.sex=='BULL'">
            <ion-icon name="clipboard"></ion-icon>
         </button>
          <button type="button" ion-button round outline color="primary" item-end (click)="showdetail(dam.cattle_id)">
              เลือก
          </button>
        </ion-item>
      </ion-list>
    </ion-list>
  </div>
</ion-content>
