page-mncattle {

  .logo1{

    background-color: transparent ;
    background-image: url('../assets/menu/1.png');
    background-size: 100%;
    background-position: center;
    width: 200px;
    height: 200px;
    background-repeat: no-repeat;
    margin: auto auto;

  }
}

