page-mndam {
  .logo1{

    background-color: transparent ;
    background-image: url('../assets/circle/1.png');
    background-size: 100%;
    background-position: center;
    width: 90px;
    height: 90px;
    background-repeat: no-repeat;

    align-self: center;
  }
  .logo2{
    background-color: transparent ;
    background-image: url('../assets/circle/2.png');
    background-size: 100%;
    background-position: center;
    width: 90px;
    height: 90px;
    background-repeat: no-repeat;

    align-self: center;
  }
  .logo3{
    background-color: transparent ;
    background-image: url('../assets/circle/3.png');
    background-size: 100%;
    background-position: center;
    width: 90px;
    height: 90px;
    background-repeat: no-repeat;

    align-self: center;
  }
  .logo4{
    background-color: transparent ;
    background-image: url('../assets/circle/4.png');
    background-size: 100%;
    background-position: center;
    width: 90px;
    height: 90px;
    background-repeat: no-repeat;

    align-self: center;
  }
  .logo5{
    background-color: transparent ;
    background-image: url('../assets/circle/5.png');
    background-size: 100%;
    background-position: center;
    width: 90px;
    height: 90px;
    background-repeat: no-repeat;

    align-self: center;
  }
  .logo6{
    background-color: transparent ;
    background-image: url('../assets/circle/6.png');
    background-size: 100%;
    background-position: center;
    width: 90px;
    height: 90px;
    background-repeat: no-repeat;

    align-self: center;
  }
  .logo7{
    background-color: transparent ;
    background-image: url('../assets/circle/7.png');
    background-size: 100%;
    background-position: center;
    width: 90px;
    height: 90px;
    background-repeat: no-repeat;

    align-self: center;
  }
  ion-item{
    border-radius: 20px;
  }
  .button1{
    width: 50px;
  }
  .bgbt{
    background-color: white;
  }
  .border-item {
    border:1px solid #488aff;
  }
}
