page-setting {
  .background{
    background-image: url('../assets/bg1.png');
    background-repeat:no-repeat;
    background-position:center;
    background-attachment:fixed;
    background-size: cover;
  }
  .logo4{

    background-color: transparent ;
    background-image: url('../assets/menu/3.png');
    background-size: 100%;
    background-position: center;
    width: 200px;
    height: 200px;
    background-repeat: no-repeat;
    margin: auto auto;

  }
  ion-item{
    border-radius: 20px;
  }

  ion-list{
    background-color: white;
    border-radius: 20px;
  }
  ion-col{
  text-align: center;
  }
  .center{
    text-align: center;
  }
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
ion-row{
  text-align: center;
  vertical-align: middle;
}
ion-row:nth-child(even) {
    background-color: #dddddd;
    vertical-align: middle;
}
ion-row:nth-child(1){
  font-weight: bold;
  height: 100%;
  background-color: skyblue;
}
.button.customBtn{
  width: 40px;
  height: 25px;
}
ion-list-header{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px
}

.border-item {
  border:1px solid #488aff;
}
}
