<!--
  Generated template for the CorralbreedingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="dark-blue">
    <ion-title>บันทึกการผสมพันธุ์แบบคอก</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form (ngSubmit)="corralbreed(breed_cattle)" #breed_cattle="ngForm" >
    <ion-item>
      <ion-label >คอกโค: </ion-label>
      <ion-select name="corralcattle" placeholder="เลือกคอก" ngModel (ionChange)="selectcorral($event)">
          <ion-option *ngFor="let c of corral " value="{{c.corral}}">{{c.corral}}</ion-option>
      </ion-select>
  </ion-item>
  <ion-item>
      <ion-label >ชื่อพ่อพันธุ์: </ion-label>
      <ion-select type="text" name="sire_id" ngModel placeholder="เลือกพ่อพันธุ์">
        <ion-option *ngFor="let sid of sire_id" value="{{sid.sire_id}}">{{sid.sire_id}}</ion-option>
      </ion-select>

    </ion-item>
    <ion-item>
      <ion-label>วันที่ผสมพันธุ์: </ion-label>
      <ion-input type="date" name="date_breeding" ngModel="{{date}}" readonly></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>เวลาที่ผสมพันธุ์: </ion-label>
      <ion-input type="time" name="time_breeding" ngModel="{{time}}" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label >ผู้ปฏิบัติการ: </ion-label>
      <ion-select type="text" name="operator" ngModel="{{name}}" >
        <ion-option *ngFor="let op of operator" value="{{op.operator}}">{{op.operator}}</ion-option>
      </ion-select>
  </ion-item>
    <ion-item>
      <ion-label >ผู้บันทึก: </ion-label>
      <ion-input type="text" name="recoder" ngModel="{{name}}"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>ผสมติด แจ้งเตือนตรวจท้อง(วัน): </ion-label>
    <ion-input type="text" name="noti_pregnant" ngModel="{{noti_pregnant}}" readonly="{{bmark}}"></ion-input>
  </ion-item>
  <ion-item>
      <ion-label>กำหนดเอง</ion-label>
      <ion-checkbox ngModel="bmark" name="markbel" (click)="markb(bmark)"></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-label>ผสมไม่ติด แจ้งเตือนวันกลับสัด(วัน): </ion-label>
    <ion-input type="text" name="noti_oestrus" ngModel="{{not_oestrus}}" readonly="{{EPmark}}"></ion-input>
  </ion-item>
  <ion-item>
      <ion-label>กำหนดเอง</ion-label>
    <ion-checkbox ngModel="EPmark" name="mEP" (click)="markep(EPmark)"></ion-checkbox>
  </ion-item>
    <ion-item>
      <ion-label>หมายเหตุ: </ion-label>
      <ion-input type="text" name="note" ngModel></ion-input>
    </ion-item>

    <br>
    เลือกโคในคอก
    <ion-item *ngFor="let item of dams ">
      <ion-label>{{item.id}}</ion-label>
        <ion-checkbox (click)="clickSelectBox(item.id,item.key,item.number_of_breeding)" ></ion-checkbox>
   </ion-item>
   <button type="submit" ion-button block color="facebook">ยืนยัน</button>
  </form>



</ion-content>
